/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos para el carrusel */
#carrusel {
    margin-top: 20px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/* Estilos para los títulos */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para las secciones de productos y promociones */
.container {
    margin-top: 30px;
}

/* Estilos para las imágenes y botones */
.col-md-4 {
    margin-bottom: 20px;
}

/* Estilos para el footer */
footer {
    margin-top: 50px;
    color: #fff;
    background-color: #333;
}
